<nav class="navbar navbar-expand-lg navbar-light bg-dark ">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#">Home</a>
      <a class="nav-item nav-link" href="#">Features</a>
      <a class="nav-item nav-link" href="#">Pricing</a>
      <a class="nav-item nav-link disabled" href="#">Disabled</a>
    </div>
  </div>
  
  <div class="icons">
    <div class="news" title="Hello world">
      <i class="fa-regular fa-newspaper fa-xl"></i>

    </div>
    <div class="shop" title="Hello world">
      <i class="fa fa-cart-shopping fa-xl" style="color: aliceblue;"></i>
    </div>
    <div class="remove" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" title="Popover title" data-bs-content="And here's some amazing content. It's very engaging. Right?">
      <i class="fa fa-xmark fa-xl" style="color: red;margin: auto;
      position: absolute;
      left: 40%;"></i>
    </div>
  </div>
  
</nav>