<div class="sidebar">
    <header>
        <div class="image-text">
            <span class="image">
                <img src="../../../../assets/logo.png">
            </span>
            <div class="text header-text">
                <span class="name"></span>
            </div>

        </div>
        <i class="fa-solid fa-arrow-right"></i>
    </header>
    <div class="menu-bar">
        <div class="menu">
            <li class="nav-link">
                <a href="#">
                    <i class="fa fa-house"></i>
                    <span class="text nav-text">Dashboard</span>
                </a>
               <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </li>
            <ul class="menu-links">
                <li class="nav-link">
                    <a href="#">
                        <i class="fa fa-house"></i>
                        <span class="text nav-text">Marketing</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="#">
                        <i class="fa fa-house"></i>
                        <span class="text nav-text">Default</span>
                    </a>
                </li>
               
               
            </ul>
            <li class="nav-link">
                <a href="#">
                    <i class="fa fa-house"></i>
                    <span class="text nav-text">App</span>
                </a>
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </li>
            <li class="nav-link">
                <a href="#">
                    <i class="fa fa-house"></i>
                    <span class="text nav-text">UI Kits</span>
                </a>
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </li>
            <li class="nav-link">
                <a href="#">
                    <i class="fa fa-house"></i>
                    <span class="text nav-text">forms</span>
                </a>
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </li>
            <li class="nav-link">
                <a href="#">
                    <i class="fa fa-house"></i>
                    <span class="text nav-text">Icons</span>
                </a>
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </li>
            <li class="nav-link">
                <a href="#">
                    <i class="fa fa-house"></i>
                    <span class="text nav-text">Animations</span>
                </a>
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </li>
            <li class="nav-link">
                <a href="#">
                    <i class="fa fa-house"></i>
                    <span class="text nav-text">Dashboard</span>
                </a>
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </li>
            <li class="nav-link">
                <a href="#">
                    <i class="fa fa-house"></i>
                    <span class="text nav-text">Dashboard</span>
                </a>
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </li>
            <li class="nav-link">
                <a href="#">
                    <i class="fa fa-house"></i>
                    <span class="text nav-text">Dashboard</span>
                </a>
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </li>
        </div>
        <div class="div bottom-content">
            <li class="mode">
                <div class="moon-sun">
                    <i class="fa fa-sun"></i>
                </div>
                <span class="mode-text">Dar Mode</span>
                <div class="toggle-switch">
                    <span class="switch"></span>
                </div>
            </li>
        </div>
    </div>
</div>